<h1>Pups</h1>

<h2><%= @dog[:name] %></h2>
<h3><%= @dog[:breed] %></h3>
<h4><%= @dog[:skill] %></h4>
<ul>
	<li><a href="/dogs/bixby/view">Bixby</a></li>
	<li><a href="/dogs/auggie/view">Auggie</a></li>
	<li><a href="/dogs/grizzly/view">Grizzly</a></li>
	<li><a href="/dogs/minnie/view">Minnie</a></li>
	<li><a href="/dogs/louie/view">Louie</a></li>
</ul>
